### Java ###
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Others ###
node_modules/
build/
.env
target/
